@import '@taiga-ui/core/styles/taiga-ui-local.less';

:host {
  display: block;
}

.wrapper {
  .inset-border(bottom, light);
  display: flex;
  align-items: center;
  padding: 1rem;
}

.content {
  padding: 1rem;
}

.title {
  min-width: 15.625rem;
  margin: 0;
}

.links {
  margin-left: 1.5rem;
  width: ~'calc(100% - 17rem)';
  justify-content: flex-end;
  box-shadow: none;
}
